@import "/src/vars.scss";

//.container{}

.wrapper{
    display: grid;
    grid-template-rows: auto 550px auto;
    //grid-row-gap: 10px;
}

.searchbar{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 1px;
}

.explore{

}

.player{
    
}